<!-- <form action="">
    <opcionde-pago />
    <app-valoracion />
    <<menor-5 /> 
    < <entre5-7 /> 
    <mayor-8 /> 
    <app-contactar /> -
</form> -->
<form action="">
    @switch (estado) {
    @case ('valoracion') {
    @if (!subEstado) {
    <app-valoracion (enviarValoracion)="onValoracionEnviada($event)" />
    } @else {
    @switch (subEstado) {
    @case ('menor5') {
    <menor-5 (atrasClick)="irAValoracion()" (enviarClick)="subEstado = 'final'" />
    }
    @case ('entre5y7') {
    <entre5-7 (atrasClick)="irAValoracion()" (enviarClick)="subEstado = 'final'" />
    }
    @case ('mayor8') {
    <mayor-8 (atrasClick)="irAValoracion()" (enviarClick)="onEnviarMayor8($event)" />
    }
    @case ('contactar') {
    <contactar (atrasClick)="subEstado = 'mayor8'" (enviarClick)="irAFinal()" (nointeresaClick)="irAFinal()" />
    }
    @case ('final') {
    <pantalla-final />
    }
    }
    }
    }
    @case ('pago') {
    <opcionde-pago />
    }
    @case ('error') {
    <pagina-error />
    }
    }
</form>